In [2]:
import pandas as pd

In [3]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
#variable print it.

data = [1, 3, 6, 6, 4, 4, 3, 8, 6, 1]
series = pd.Series(data)
print(series)

0    1
1    3
2    6
3    6
4    4
5    4
6    3
7    8
8    6
9    1
dtype: int64

In [19]:
#Q3. Create a Pandas DataFrame that contains the following data:

Name = ['Alice', 'Bob', 'Claire']
Age = [25,30,27]
Gender = ['Female', 'Male', 'Female']
data = {'Name' : Name, 'Age':Age, 'Gender':Gender}
final = pd.DataFrame(data)
print(final)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional, tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or SQL table, where data is organized in rows and columns. Each column in a DataFrame can be of a different data type (e.g., integer, float, string), and it provides flexibility and functionality for various data manipulation and analysis tasks.

On the other hand, a Series is a one-dimensional labeled array capable of holding any data type. It can be thought of as a single column of a DataFrame. A DataFrame can be considered as a collection of Series.

In [14]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
#you give an example of when you might use one of these functions?

data = pd.read_csv('services.csv')
print(data.head(2))
print(data.tail(4))
print(data.describe())  #summary statistics of numerical data
print(data.info())
print(data.sort_values(by = 'application_process'))
dropped = data.drop(1)

In [ ]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

DataFramme

In [15]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

import pandas as pd

# Creating multiple Pandas Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'], name='Name')
age_series = pd.Series([25, 30, 27], name='Age')
gender_series = pd.Series(['Female', 'Male', 'Female'], name='Gender')

# Combining the Series into a dictionary
data = {'Name': name_series, 'Age': age_series, 'Gender': gender_series}

# Creating a DataFrame from the dictionary
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female